doctype html
html
	head
		title заголовок
		link(href="css/libs.min.css" rel="stylesheet")
		link(href="css/main.min.css" rel="stylesheet")
	body
		
		
		script(src='js/libs.min.js')
		script(src='js/main.js')
		